*
!.gitignore
!i*.php
!i*.html
!README
!/css/
!/css/*.css
!/css/.gitkeep
!/doc/
!/doc/firme/
!/doc/firme/.gitkeep
!/doc/Doxyfile
!/doc/doc_generation.bat
!/doc/README
!/html/
!/html/*.*
!/img/
!/img/*.*
!/js/
!/js/*.js
!/js/libs/
!/js/libs/*.js
!/js/libs/*.swf
!/php/
!/php/*.php
!/sql/
!/sql/*.sql
!/sql/*.bat
!/sql/.gitkeep
!GitPortable_1.9.5.paf.exe