*
!.gitignore
!index.php
!README
!/css/
!/css/*.css
!/css/.gitkeep
!/doc/
!/doc/Doxyfile
!/doc/doc_generation.bat
!/doc/README
!/html/
!/html/*.*
!/img/
!/img/*.*
!/js/
!/js/*.js
!/php/
!/php/*.php
!/sql/
!/sql/*.sql
!/sql/*.bat
!/sql/.gitkeep